.main-header {
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    height: 78px;
}

.main-header img {
    width: 70px;
    cursor: pointer;
}