.register {
    display: flex;
    flex-direction: column;
    width: var(--body-width);
    gap: 16px;
}

.register-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 16px;
}